.register-form {
  @include flexCenter();
  flex-direction: row;
  height: 100%;
}

.register-form {
  input {
    display: block;
  }
}

.register-form {
  label {
    color: $secondary-color;
    font-size: 2rem;
  }
}
